// font 
$fontMain: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fontLight: 'segoe ui light';

// size 
$sizeX: 16px;
$sizeXM: 20px;
$sizeM: 30px;
$sizeL: 40px;
$sizeXL: 48px;

// color 
$blue: #4169e1;
$black: #222;
$white: #ffffff;
$aliceBlue: #f0f8ff;
$gray: #ccc;

// main 
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: $fontMain;
}
.container{
    max-width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
h2, h3, p, span{
    margin: 0;
    padding: 0;
}

@mixin title {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        font-size: $sizeM;
        color: $blue;
    }
    hr{
        margin-top: 5px;
        width: 150px;
        border: none;
        height: 3px;
        background-color: $blue;
    }
}


// js effect
.header__nav-item.active{
    border-bottom: 3px solid $blue;
    transition: .5s;
}

.header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    animation: upToDown .5s forwards;
}

// animations 
@keyframes upToDown{
    0%{
        opacity: 0;
        transform: translateY(-70px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes rightToLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}




